@use "./variables" as *;

section .flex-collection {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  .image-long {
    width: 75%;
    // height: auto;
    position: relative;
    div {
      border: 1px solid tomato;
      position: absolute;
      top: 0;
      font-size: 0.75rem;
      text-transform: capitalize;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      button {
        text-transform: uppercase;
      }
    }
  }
}
.image-short {
  width: 25%;
  height: auto;
  position: relative;
  div {
    border: 1px solid tomato;
    position: absolute;
    top: 0;
    font-size: 0.75rem;
    text-transform: capitalize;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    button {
      text-transform: uppercase;
    }
  }
}
