@use "./variables" as *;

.header-contact {
  background-image: url(./../assets/contact-header.jpg);
  height: 50vh;
  display: flex;
  justify-content: center;
  .header-contact-text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 2rem;
      text-transform: uppercase;
    }
  }
}

form {
  text-align: center;
}

input[type="first-name"],
input[type="last-name"],
// input[type="text"],
input[type="email"],
input[type="phone"] {
  height: 48px;
  padding: 0 13px;
  width: 100%;
  margin: 10px 0;
  border: 0;
  border: 1px solid rgb(223, 224, 230);
}

input[type="message"] {
  height: 200px;
  width: 600px;
}

fieldset {
  border: none;
  text-align: left;
}

.form-container {
  display: flex;
  .form-left {
    background-image: url(./../assets/contact.jpg);
    background-repeat: no-repeat;
    background-position: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 0.8rem;
    color: $quinary;
    text-transform: capitalize;
    top: 0;
    padding: 20px 5px;
    line-height: 40px;
  }
  .form-right {
    border: solid 1px purple;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
}

label {
  display: block;
}

.contact-label {
  float: left;
  margin-right: 20px;
}

.contact-label .button {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
