@use "./variables" as *;

footer {
  background-image: url(/assets/footer.jpg);
}

.footer-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  img {
    height: auto;
    width: auto;
  }
}
