@use "./variables" as *;

footer {
  background-image: url(./../assets/footer.jpg);
  // img {
  //   height: auto;
  //   width: auto;
  // }
}

.icons {
  // display: flex;
  // // flex-direction: row;
  // justify-content: space-between;
  ul {
    display: flex;
    justify-content: space-around;
    color: $tertiary;
  }
  li {
    border: 1px solid $tertiary;
    color: $tertiary;
    margin: auto;
    padding: 5px;
  }
}

.footer-container {
  // border: 1px solid orangered;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  //   align-items: center;
  padding-top: 50px;
}

.footer-menu {
  // border: 1px solid purple;
  top: 0;
  width: calc((100% / 5) - 20px);
  text-transform: capitalize;
  font-size: 0.9rem;
  line-height: normal;
  margin: 10px;
  h3 {
    font-size: 1.1rem;
    font-weight: $bold-weight;
    margin: 5px;
    padding: 10px;
  }
  .footer-menu-item a {
    //   border: 1px solid red;
    font-weight: $bold-weight;
    color: $tertiary;
    margin: 5px;
    padding: 10px;
    line-height: 30px;
  }
}

.trademark {
  // border: 1px solid blue;
  color: rgb(129, 179, 54);
  display: flex;
  justify-content: center;
}
