@use "./variables" as *;

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    display: flex;
    flex-direction: row;
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 40px;
    text-transform: uppercase;
    font-weight: 600;
  }
  h2:before,
  h2:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid $tertiary;
    margin: auto;
  }
}

.product-menu {
  display: flex;
  justify-content: center;
  align-self: center;
}

.product-menu-item {
  border: 3px dotted $tertiary;
  width: auto;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
  a {
    color: $tertiary;
  }
}

.product-menu-item:hover {
  border: 3px dotted $primary;
  color: $primary;
  width: auto;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
  a {
    color: $primary;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container {
  width: calc(100% / 4);
  position: relative;
  transition: transform 0.3;
  margin: 0 auto;
  font-size: 0.9rem;
  a:hover {
    h3 {
      transform: scale(1.1);
      font-weight: $bold-weight;
    }
  }
}

.image-container div {
  color: $tertiary;
  font-weight: $bold-weight;
  z-index: 10;
  p {
    color: $primary;
    font-weight: $normal-weight;
  }
}
