// Text Style
$font-stack: "Rubik", sans-serif;
$normal-weight: 400;
$light-weight: 300;
$bold-weight: 500;
// Color Palette
$primary: #abd373;
$secondary: #4c4c4c;
$tertiary: #000;
$quaternary: #88cce2;
$quinary: #fff;
$senary: #f6f7fb;
$septenary: #faf0e6;
