// inside style.scss
@use 'setup';
@use 'navigation';
@use 'header';
@use 'footer';
@use './variables' as *;


// General Style
body {
    font-family: $font-stack;
    font-weight: $normal-weight;
    padding: 0 auto;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-family: $font-stack;
    font-weight: $light-weight;
}

a:link {
    text-decoration: none;
    }
    
ul {
    list-style: none;
    }
